@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body{
  font-family: 'Rubik', sans-serif;
}
.main-container{
  height: 90vh;
  display: flex !important;
  flex-direction: column !important;
  overflow: auto;
}

.body-container{
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  text-align: center;
}
