.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.height-100{
  height: 100%;
}

.bg-green-imp{
  background-color: $green !important;
  color: $white !important;
}

.bg-red-imp{
  background-color: $red !important;
  color: $white !important;
}

.input-label-pair{
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  input {
    width: 60%;
  }
}

.nina-shadow{
  box-shadow: 1px 4px 12px 3px rgba(150, 152, 204,0.43) !important;
-webkit-box-shadow: 1px 4px 12px 3px rgba(150, 152, 204,0.43)!important;
-moz-box-shadow: 1px 4px 12px 3px rgba(150, 152, 204,0.43) !important;
}
